/.idea
/Data
/Fitted CRWs
/Papers
/Presentations
/Processed Telemetry Data
/Sound Mapping
/Supplementary Files
/Workspaces
/Fitted HMMs
*.RData
.Rproj.user
.Rhistory
Carp-Model.R
.RDATA
Carp-Model.Rproj
in_progress.txt
test_line